<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejemplo</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
	<header>
		<h1>layout de ejemplo</h1>
	</header>
	<%= yield %>
	<p>Este mensaje del layout de ejemplo</p>
</body>
</html>